<section class="player-reviews" id="commanders">
  <div class="container">
    <div class="player-reviews-container">
      <div class="player-reviews-title-box">
        <h2 class="how-to-play-title player-reviews-title">Commanders</h2>
        <h3 class="privacy-terms-second-subtitle">Leaders of your army</h3>
        <svg class="how-to-play-section-icon section-icon">
          <use href="img/sprite.svg#icon-title"></use>
        </svg>
      </div>
      <div class="commanders-static-card commanders-mobile">
        <div class="swiper commanders-swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide commanders-slide">
              <div class="commanders-content">
                <div class="commanders-header">
                  <h4 class="commanders-header-title blue">Arthos</h4>
                  <p class="commanders-header-subtitle blue">The Warlord</p>
                </div>
                <div class="commanders-description">
                  <svg class="commanders-icon">
                    <use href="img/sprite.svg#warlord"></use>
                  </svg>
                  <p class="commanders-header-text">
                    Focused on offense<br />
                    and direct combat.
                  </p>
                </div>
                <div class="character-wrapper">
                  <img
                    srcset="
                      /img/commanders/Arthos-1x.png 1x,
                      /img/commanders/Arthos-2x.png 2x
                    "
                    src="/img/commanders/Arthos-1x.png"
                    alt="Arthos"
                    class="character-img"
                  />
                </div>
              </div>
            </li>
            <li class="swiper-slide commanders-slide">
              <div class="commanders-content">
                <div class="commanders-header">
                  <h4 class="commanders-header-title purple">Selene</h4>
                  <p class="commanders-header-subtitle purple">
                    The Strategist
                  </p>
                </div>
                <div class="commanders-description">
                  <svg class="commanders-icon">
                    <use href="img/sprite.svg#parchment"></use>
                  </svg>
                  <p class="commanders-header-text">
                    Enhances efficiency<br />
                    and planning.
                  </p>
                </div>
                <div class="character-wrapper">
                  <img
                    srcset="
                      /img/commanders/Selene-1x.png 1x,
                      /img/commanders/Selene-2x.png 2x
                    "
                    src="/img/commanders/Selene-1x.png"
                    alt="Selene"
                    class="character-img"
                  />
                </div>
              </div>
            </li>
            <li class="swiper-slide commanders-slide">
              <div class="commanders-content">
                <div class="commanders-header">
                  <h4 class="commanders-header-title orange">Darius</h4>
                  <p class="commanders-header-subtitle orange">The Defendert</p>
                </div>
                <div class="commanders-description">
                  <svg class="commanders-icon">
                    <use href="img/sprite.svg#defender"></use>
                  </svg>
                  <p class="commanders-header-text">
                    Strengthens defenses<br />
                    and resilience.
                  </p>
                </div>
                <div class="character-wrapper">
                  <img
                    srcset="
                      /img/commanders/Darius-1x.png 1x,
                      /img/commanders/Darius-2x.png 2x
                    "
                    src="/img/commanders/Darius-1x.png"
                    alt="Darius"
                    class="character-img"
                  />
                </div>
              </div>
            </li>
            <li class="swiper-slide commanders-slide">
              <div class="commanders-content">
                <div class="commanders-header">
                  <h4 class="commanders-header-title green">Lyrix</h4>
                  <p class="commanders-header-subtitle green">The Tactician</p>
                </div>
                <div class="commanders-description">
                  <svg class="commanders-icon">
                    <use href="img/sprite.svg#compass"></use>
                  </svg>
                  <p class="commanders-header-text">
                    Balances attack<br />
                    and support abilities.
                  </p>
                </div>
                <div class="character-wrapper">
                  <img
                    srcset="
                      /img/commanders/Lyrix-1x.png 1x,
                      /img/commanders/Lyrix-2x.png 2x
                    "
                    src="/img/commanders/Lyrix-1x.png"
                    alt="Lyrix"
                    class="character-img"
                  />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="commanders-controls">
        <button class="swiper-button-prev-custom">
          <svg width="73" height="40">
            <use href="./img/sprite.svg#left_arrow"></use>
          </svg>
        </button>

        <div class="swiper-pagination-custom"></div>

        <button class="swiper-button-next-custom">
          <svg width="73" height="40">
            <use href="./img/sprite.svg#right_arrow"></use>
          </svg>
        </button>
      </div>
      <div class="commanders-desktop">
        <ul class="commanders-list">
          <li class="commanders-static-card">
            <div class="commanders-content">
              <div class="commanders-header">
                <h4 class="commanders-header-title blue">Arthos</h4>
                <p class="commanders-header-subtitle blue">The Warlord</p>
              </div>
              <div class="commanders-description">
                <svg class="commanders-icon">
                  <use href="img/sprite.svg#warlord"></use>
                </svg>
                <p class="commanders-header-text">
                  Focused on offense<br />
                  and direct combat.
                </p>
              </div>
              <div class="character-wrapper">
                <img
                  srcset="
                    /img/commanders/Arthos-1x.png 1x,
                    /img/commanders/Arthos-2x.png 2x
                  "
                  src="/img/commanders/Arthos-1x.png"
                  alt="Arthos"
                  class="character-img"
                />
              </div>
            </div>
          </li>
          <li class="commanders-static-card">
            <div class="commanders-content">
              <div class="commanders-header">
                <h4 class="commanders-header-title purple">Selene</h4>
                <p class="commanders-header-subtitle purple">The Strategist</p>
              </div>
              <div class="commanders-description">
                <svg class="commanders-icon">
                  <use href="img/sprite.svg#parchment"></use>
                </svg>
                <p class="commanders-header-text">
                  Enhances efficiency<br />
                  and planning.
                </p>
              </div>
              <div class="character-wrapper">
                <img
                  srcset="
                    /img/commanders/Selene-1x.png 1x,
                    /img/commanders/Selene-2x.png 2x
                  "
                  src="/img/commanders/Selene-1x.png"
                  alt="Selene"
                  class="character-img"
                />
              </div>
            </div>
          </li>
          <li class="commanders-static-card">
            <div class="commanders-content">
              <div class="commanders-header">
                <h4 class="commanders-header-title orange">Darius</h4>
                <p class="commanders-header-subtitle orange">The Defendert</p>
              </div>
              <div class="commanders-description">
                <svg class="commanders-icon">
                  <use href="img/sprite.svg#defender"></use>
                </svg>
                <p class="commanders-header-text">
                  Strengthens defenses<br />
                  and resilience.
                </p>
              </div>
              <div class="character-wrapper">
                <img
                  srcset="
                    /img/commanders/Darius-1x.png 1x,
                    /img/commanders/Darius-2x.png 2x
                  "
                  src="/img/commanders/Darius-1x.png"
                  alt="Darius"
                  class="character-img"
                />
              </div>
            </div>
          </li>
          <li class="commanders-static-card">
            <div class="commanders-content">
              <div class="commanders-header">
                <h4 class="commanders-header-title green">Lyrix</h4>
                <p class="commanders-header-subtitle green">The Tactician</p>
              </div>
              <div class="commanders-description">
                <svg class="commanders-icon">
                  <use href="img/sprite.svg#compass"></use>
                </svg>
                <p class="commanders-header-text">
                  Balances attack<br />
                  and support abilities.
                </p>
              </div>
              <div class="character-wrapper">
                <img
                  srcset="
                    /img/commanders/Lyrix-1x.png 1x,
                    /img/commanders/Lyrix-2x.png 2x
                  "
                  src="/img/commanders/Lyrix-1x.png"
                  alt="Lyrix"
                  class="character-img"
                />
              </div>
            </div>
          </li>
        </ul>
        <div class="join-info">
          <div class="join-info-box">
            <h4 class="join-info-title">Ready to fight for the crown?</h4>
            <h4 class="join-info-title">Join the Battle</h4>
            <p class="join-info-text">
              Build up your kingdom,<br />
              rally your troops, and show everyone else who's really in charge.
            </p>
          </div>
          <div class="join-play-info">
            <p class="join-play-info-text">Play on Google Play</p>
            <a
              href="https://play.google.com/store/apps/details?id=com.fourx.blackkey.kvk.gp&hl=en&gl=us"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="google-img"
                src="./img/hero/google-play.png"
                srcset="
                  ./img/hero/google-play.png    1x,
                  ./img/hero/google-play@2x.png 2x
                "
                alt="google-play"
                width="196"
                height="63"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
