<section class="section">
  <div class="container">
    <div class="concept-container">
      <h2 class="concept-title">Go big or get crushed</h2>
      <p class="concept-text">
        KVK: King VS King puts players in control of their own kingdom. Whether
        you're building up your base or throwing your army into battle, screw up
        in the beginning and you'll be playing catch-up forever. One minute
        you're micromanaging your kingdom, the next you're in the thick of a
        massive battle.
      </p>
    </div>
  </div>
</section>
