<footer class="footer">
  <div class="container">
    <div class="footer-mobile">
      <div class="footer-logo-box">
        <div class="logo-box">
          <a href="./index.html" class="logo-link">
            <img
              srcset="
                /img/header/header-logo/logo-mob-1x.png 1x,
                /img/header/header-logo/logo-mob-2x.png 2x
              "
              src="/img/header/header-logo/logo-mob-1x.png"
              alt="blue-eyed girl with glasses"
              class="logo-img"
            />
          </a>
          <a href="./index.html" class="logo-mobile"
            >KVK:<br />
            King VS King</a
          >
        </div>
      </div>
      <div class="info-box">
        <p class="footer-title">
          We’re here to help<br />
          Email: info@ironprotocol.site
        </p>
        <div class="footer-pages">
          <a href="./privacy-page.html">Privacy Policy</a>
          <a href="./terms-page.html">Terms & Conditions</a>
        </div>
        <p class="footer-rights">
          © 2026 ironprotocol.site — All rights reserved
        </p>
      </div>
    </div>
    <div class="footer-desktop">
      <ul class="footer-nav">
        <li class="footer-nav-item"><a href="">Home</a></li>
        <li class="footer-nav-item"><a href="">Concept</a></li>
        <li class="footer-nav-item"><a href="">How to Play</a></li>
        <li class="footer-nav-item"><a href="">Features</a></li>
      </ul>
      <div class="info-box">
        <p class="footer-title">
          We’re here to help<br />
          Email: info@ironprotocol.site
        </p>
        <div class="footer-logo-box">
          <div class="logo-box">
            <a href="./index.html" class="logo-link">
              <img
                srcset="
                  /img/header/header-logo/logo-desktop-1x.png 1x,
                  /img/header/header-logo/logo-desktop-2x.png 2x
                "
                src="/img/header/header-logo/logo-desktop-1x.png"
                alt="blue-eyed girl with glasses"
                class="logo-img-desktop"
              />
            </a>
            <a href="./index.html" class="logo-footer-desktop"
              >KVK:<br />
              King VS King</a
            >
          </div>
        </div>
        <div class="footer-pages">
          <a href="./privacy-page.html">Privacy Policy</a>
          <a href="./terms-page.html">Terms & Conditions</a>
        </div>
        <p class="footer-rights">
          © 2026 ironprotocol.site — All rights reserved
        </p>
      </div>
      <ul class="footer-nav">
        <li class="footer-nav-item"><a href="">Commanders</a></li>
        <li class="footer-nav-item"><a href="">Gallery</a></li>
        <li class="footer-nav-item"><a href="">Reviews</a></li>
        <li class="footer-nav-item"><a href="">FAQ</a></li>
      </ul>
    </div>
  </div>
</footer>
