<section class="gallery-section">
  <svg class="gallery-ornament">
    <use href="/img/sprite.svg#icon-title"></use>
  </svg>

  <h2 class="gallery-title">Gallery</h2>
  <p class="gallery-subtitle">Check out the action</p>

  <div class="swiper gallery-wrapper">
    <div class="swiper-wrapper">
      <div class="swiper-slide gallery-slide">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desk/desk1.png    1x,
              /img/gallery/desk/desk1@2x.png 2x
            "
          />
          <img
            src="/img/gallery/mob/mob1.png"
            srcset="
              /img/gallery/mob/mob1.png    1x,
              /img/gallery/mob/mob1@2x.png 2x
            "
            alt="Nurture Gulus"
          />
        </picture>
      </div>

      <div class="swiper-slide gallery-slide">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desk/desk2.png    1x,
              /img/gallery/desk/desk2@2x.png 2x
            "
          />
          <img
            src="/img/gallery/mob/mob2.png"
            srcset="
              /img/gallery/mob/mob2.png    1x,
              /img/gallery/mob/mob2@2x.png 2x
            "
            alt="Team gameplay"
          />
        </picture>
      </div>

      <div class="swiper-slide gallery-slide">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desk/desk3.png    1x,
              /img/gallery/desk/desk3@2x.png 2x
            "
          />
          <img
            src="/img/gallery/mob/mob3.png"
            srcset="
              /img/gallery/mob/mob3.png    1x,
              /img/gallery/mob/mob3@2x.png 2x
            "
            alt="Play with friends"
          />
        </picture>
      </div>

      <div class="swiper-slide gallery-slide">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desk/desk4.png    1x,
              /img/gallery/desk/desk4@2x.png 2x
            "
          />
          <img
            src="/img/gallery/mob/mob4.png"
            srcset="
              /img/gallery/mob/mob4.png    1x,
              /img/gallery/mob/mob4@2x.png 2x
            "
            alt="Explore lands"
          />
        </picture>
      </div>

      <div class="swiper-slide gallery-slide">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desk/desk5.png    1x,
              /img/gallery/desk/desk5@2x.png 2x
            "
          />
          <img
            src="/img/gallery/mob/mob5.png"
            srcset="
              /img/gallery/mob/mob5.png    1x,
              /img/gallery/mob/mob5@2x.png 2x
            "
            alt="Build your Kingdom"
          />
        </picture>
      </div>

      <div class="swiper-slide gallery-slide">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/desk/desk6.png    1x,
              /img/gallery/desk/desk6@2x.png 2x
            "
          />
          <img
            src="/img/gallery/mob/mob6.png"
            srcset="
              /img/gallery/mob/mob6.png    1x,
              /img/gallery/mob/mob6@2x.png 2x
            "
            alt="Rampage gameplay"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="gallery-nav">
    <button class="gallery-btn gallery-btn-prev" aria-label="Previous slide">
      <svg class="gallery-arrow gallery-arrow-left" width="73" height="40">
        <use href="/img/sprite.svg#left_arrow"></use>
      </svg>
    </button>

    <div class="gallery-dots"></div>

    <button class="gallery-btn gallery-btn-next" aria-label="Next slide">
      <svg class="gallery-arrow gallery-arrow-right" width="73" height="40">
        <use href="/img/sprite.svg#right_arrow"></use>
      </svg>
    </button>
  </div>

  <div class="swiper gallery-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide gallery-thumb">
        <picture>
          <source
            srcset="
              /img/gallery/desk/desk1.png    1x,
              /img/gallery/desk/desk1@2x.png 2x
            "
          />
          <img src="/img/gallery/desk/desk1.png" alt="Nurture Gulus" />
        </picture>
      </div>
      <div class="swiper-slide gallery-thumb">
        <picture>
          <source
            srcset="
              /img/gallery/desk/desk2.png    1x,
              /img/gallery/desk/desk2@2x.png 2x
            "
          />
          <img src="/img/gallery/desk/desk2.png" alt="Team gameplay" />
        </picture>
      </div>
      <div class="swiper-slide gallery-thumb">
        <picture>
          <source
            srcset="
              /img/gallery/desk/desk3.png    1x,
              /img/gallery/desk/desk3@2x.png 2x
            "
          />
          <img src="/img/gallery/desk/desk3.png" alt="Play with friends" />
        </picture>
      </div>
      <div class="swiper-slide gallery-thumb">
        <picture>
          <source
            srcset="
              /img/gallery/desk/desk4.png    1x,
              /img/gallery/desk/desk4@2x.png 2x
            "
          />
          <img src="/img/gallery/desk/desk4.png" alt="Explore lands" />
        </picture>
      </div>
      <div class="swiper-slide gallery-thumb">
        <picture>
          <source
            srcset="
              /img/gallery/desk/desk5.png    1x,
              /img/gallery/desk/desk5@2x.png 2x
            "
          />
          <img src="/img/gallery/desk/desk5.png" alt="Build your Kingdom" />
        </picture>
      </div>
      <div class="swiper-slide gallery-thumb">
        <picture>
          <source
            srcset="
              /img/gallery/desk/desk6.png    1x,
              /img/gallery/desk/desk6@2x.png 2x
            "
          />
          <img src="/img/gallery/desk/desk6.png" alt="Rampage gameplay" />
        </picture>
      </div>
    </div>
  </div>
</section>
