<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <div class="nav-mobile">
        <div class="logo-box">
          <a href="./index.html" class="logo-link">
            <img
              srcset="
                /img/header/header-logo/logo-mob-1x.png 1x,
                /img/header/header-logo/logo-mob-2x.png 2x
              "
              src="/img/header/header-logo/logo-mob-1x.png"
              alt="blue-eyed girl with glasses"
              class="logo-img"
            />
          </a>
          <a href="./index.html" class="logo-mobile"
            >KVK:<br />
            King VS King</a
          >
        </div>
        <div class="burger-menu">
          <button
            aria-label="opem mobile navigation"
            type="button"
            class="burger-btn"
            data-open-mobnav
          >
            <svg class="burger-icon" width="40" height="40">
              <use href="/img/sprite.svg#icon-burger-menu-open"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="nav-desktop">
        <nav class="nav">
          <a href="./index.html" class="logo">
            <img
              srcset="
                /img/header/header-logo/logo-desktop-1x.png 1x,
                /img/header/header-logo/logo-desktop-2x.png 2x
              "
              src="/img/header/header-logo/logo-desktop-1x.png"
              alt="blue-eyed girl with glasses"
              class="logo-img-desktop"
            />
          </a>
          <ul class="nav-list-desktop">
            <li class="menu-item-desktop"><a href="#home">Home</a></li>
            <li class="menu-item-desktop"><a href="#concept">Concept</a></li>
            <li class="menu-item-desktop">
              <a href="#how-to-play">How to Play</a>
            </li>
            <li class="menu-item-desktop"><a href="#features">Features</a></li>
            <li class="menu-item-desktop">
              <a href="#commanders">Commanders</a>
            </li>
            <li class="menu-item-desktop"><a href="#gallery">Gallery</a></li>
            <li class="menu-item-desktop"><a href="#reviews">Reviews</a></li>
            <li class="menu-list-contacts">
              <div class="contacts-item menu-item">
                <img
                  srcset="
                    /img/header/header-nav/kay_faq-1x.png 1x,
                    /img/header/header-nav/kay_faq-2x.png 2x
                  "
                  src="/img/header/header-nav/kay_faq-1x.png"
                  alt="old kay"
                  class="nav-img"
                />
                <a href="#faq">FAQ</a>
              </div>
              <div class="contacts-item menu-item">
                <img
                  srcset="
                    /img/header/header-nav/contacts-1x.png 1x,
                    /img/header/header-nav/contacts-2x.png 2x
                  "
                  src="/img/header/header-nav/contacts-1x.png"
                  alt="contacts"
                  class="nav-img"
                />
                <a href="#contacts">Contacts</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
