<header class="header">
  <div class="container">
    <div class="header-privacy-terms-wrapper">
      <div class="header-wrapper-box">
        <div class="logo-desktop">
          <a href="./index.html">
            <img
              srcset="
                /img/header/header-logo/logo-desktop-1x.png 1x,
                /img/header/header-logo/logo-desktop-2x.png 2x
              "
              src="/img/header/header-logo/logo-desktop-1x.png"
              alt="blue-eyed girl with glasses"
              class="logo-img-desktop"
            />
          </a>
        </div>
        <div class="nav-return-home-btn">
          <button type="button" id="return-to-home" class="return-home-btn">
            <svg class="burger-icon" width="73" height="40">
              <use href="./img/sprite.svg#left_arrow"></use>
            </svg>
            Return Back Home
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
