<section class="player-reviews" id="how-to-play">
  <div class="container">
    <div class="how-to-play-container">
      <div class="player-reviews-title-box">
        <h2 class="how-to-play-title player-reviews-title">How To Play?</h2>
        <h3 class="privacy-terms-second-subtitle">Here's how it works</h3>
        <svg class="how-to-play-section-icon section-icon">
          <use href="img/sprite.svg#icon-title"></use>
        </svg>
      </div>
      <ul class="how-to-play-list">
        <li class="how-to-play-card">
          <img
            srcset="
              /img/how-to-play/ico_frame-1x.png 1x,
              /img/how-to-play/ico_frame-2x.png 2x
            "
            src="/img/how-to-play/ico_frame-1x.png"
            alt="castle"
            class="how-to-play-card-img"
          />
          <h4 class="how-to-play-subtitle green">Develop Your Kingdom</h4>
          <p class="how-to-play-text">
            Construct buildings<br />
            and grow your economy.
          </p>
        </li>
        <li class="how-to-play-card">
          <img
            srcset="
              /img/how-to-play/knight-1x.png 1x,
              /img/how-to-play/knight-2x.png 2x
            "
            src="/img/how-to-play/knight-1x.png"
            alt="knight"
            class="how-to-play-card-img"
          />
          <h4 class="how-to-play-subtitle orange">Train Armies</h4>
          <p class="how-to-play-text">
            Recruit and strengthen your military forces.
          </p>
        </li>
        <li class="how-to-play-card">
          <img
            srcset="
              /img/how-to-play/map-1x.png 1x,
              /img/how-to-play/map-2x.png 2x
            "
            src="/img/how-to-play/map-1x.png"
            alt="map"
            class="how-to-play-card-img-map"
          />
          <h4 class="how-to-play-subtitle blue">Expand Territory</h4>
          <p class="how-to-play-text">
            Capture new areas<br />
            to increase influence.
          </p>
        </li>
        <li class="how-to-play-card">
          <img
            srcset="
              /img/how-to-play/shield-1x.png 1x,
              /img/how-to-play/shield-2x.png 2x
            "
            src="/img/how-to-play/shield-1x.png"
            alt="shield"
            class="how-to-play-card-img"
          />
          <h4 class="how-to-play-subtitle green">Strengthen Alliances</h4>
          <p class="how-to-play-text">
            Cooperate with others<br />
            to gain advantage.
          </p>
        </li>
        <li class="how-to-play-card">
          <img
            srcset="
              /img/how-to-play/viking-1x.png 1x,
              /img/how-to-play/viking-2x.png 2x
            "
            src="/img/how-to-play/viking-1x.png"
            alt="viking"
            class="how-to-play-card-img"
          />
          <h4 class="how-to-play-subtitle purple">Engage in Battles</h4>
          <p class="how-to-play-text">
            Fight other players<br />
            in strategic combat.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
