<div class="mob-nav" data-modal-mobnav>
  <div class="mob-nav-background">
    <div class="mob-container">
      <button
        aria-label="exit mobile navigation"
        class="close-mod"
        type="button"
        data-close-mod
      >
        <svg class="close-ico" width="40" height="40">
          <use href="/img/sprite.svg#icon-burger-menu-close"></use>
        </svg>
      </button>
      <nav aria-label="mobile-navigation" class="mobil-menu">
        <h2 class="nav-title">Menu</h2>
        <ul class="nav-list">
          <li class="menu-item"><a href="#home">Home</a></li>
          <li class="menu-item"><a href="#concept">Concept</a></li>
          <li class="menu-item"><a href="#how-to-play">How to Play</a></li>
          <li class="menu-item"><a href="#features">Features</a></li>
          <li class="menu-item"><a href="#commanders">Commanders</a></li>
          <li class="menu-item"><a href="#gallery">Gallery</a></li>
          <li class="menu-item"><a href="#reviews">Reviews</a></li>
        </ul>
        <ul class="nav-list">
          <li class="contacts-item menu-item">
            <img
              srcset="
                /img/header/header-nav/kay_faq-1x.png 1x,
                /img/header/header-nav/kay_faq-2x.png 2x
              "
              src="/img/header/header-nav/kay_faq-1x.png"
              alt="old kay"
              class="nav-img"
            />
            <a href="#faq">FAQ</a>
          </li>
          <li class="contacts-item menu-item">
            <img
              srcset="
                /img/header/header-nav/contacts-1x.png 1x,
                /img/header/header-nav/contacts-2x.png 2x
              "
              src="/img/header/header-nav/contacts-1x.png"
              alt="contacts"
              class="nav-img"
            />
            <a href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
