:root {
  --font-family: 'Lilita One', sans-serif;
  --second-family: 'Luckiest Guy', sans-serif;
  --third-family: 'Roboto', sans-serif;
  --font3: 'Arial', sans-serif;

  --img-wareframe: #404b4b;
  --background-clr: #e1ba8a;
  --text-dark-text-dark-100: #221302;
  --text-dark-text-dark-90: rgba(34, 19, 2, 0.9);
  --text-dark-text-dark-80: rgba(34, 19, 2, 0.8);
  --text-dark-text-dark-70: rgba(34, 19, 2, 0.7);
  --text-dark-text-dark-60: rgba(34, 19, 2, 0.6);
  --text-dark-text-dark-50: rgba(34, 19, 2, 0.5);
  --text-dark-text-dark-40: rgba(34, 19, 2, 0.4);
  --text-dark-text-dark-30: rgba(34, 19, 2, 0.3);
  --text-dark-text-dark-20: rgba(34, 19, 2, 0.2);
  --text-dark-text-dark-10: rgba(34, 19, 2, 0.1);
  --text-text-100: #f3e5d6;
  --text-text-90: rgba(243, 229, 214, 0.9);
  --text-text-80: rgba(243, 229, 214, 0.8);
  --text-text-70: rgba(243, 229, 214, 0.7);
  --text-text-60: rgba(243, 229, 214, 0.6);
  --text-text-50: rgba(243, 229, 214, 0.5);
  --text-text-40: rgba(243, 229, 214, 0.4);
  --text-text-30: rgba(243, 229, 214, 0.3);
  --text-text-20: rgba(243, 229, 214, 0.2);
  --text-text-10: rgba(243, 229, 214, 0.1);
  --primary-primary100: #edbc84;
  --primary-primary90: rgba(237, 188, 132, 0.9);
  --primary-primary80: rgba(237, 188, 132, 0.8);
  --primary-primary70: rgba(237, 188, 132, 0.7);
  --primary-primary60: rgba(237, 188, 132, 0.6);
  --primary-primary50: rgba(237, 188, 132, 0.5);
  --primary-primary40: rgba(237, 188, 132, 0.4);
  --primary-primary30: rgba(237, 188, 132, 0.3);
  --primary-primary20: rgba(237, 188, 132, 0.2);
  --primary-primary10: rgba(237, 188, 132, 0.1);
  --additional-additional100: #fc8a10;
  --accent-1-accent-1-100: #27c8c7;
  --accent-2-accent-2-100: #65b93c;
  --accent-3-accent-3-100: #9f77e6;
  --neutralcolor-netural100: #171515;
  --neutralcolor-neutral90: #1a1a1a;
  --neutralcolor-neutral80: #333;
  --neutralcolor-neutral70: #4d4d4d;
  --neutralcolor-neutral60: #666;
  --neutralcolor-neutral50: #808080;
  --neutralcolor-neutral40: #999;
  --neutralcolor-neutral30: #b3b3b3;
  --neutralcolor-neutral20: #ccc;
  --neutralcolor-neutral10: #e5e5e5;
  --neutralcolor-neutral0: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--second-family);
}

body {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: var(--background-clr);
}

.page-frame {
  position: relative;

  margin: 0 auto;
  overflow: hidden;

  border: 4px solid var(--neutralcolor-neutral10);
  box-shadow: 0 0 20px 0 var(--text-dark-text-dark-40);
  border-radius: 30px;
  background-color: var(--primary-primary60);
  min-width: 320px;
  max-width: 365px;
  margin-bottom: 28px;
}

@media only screen and (min-width: 1440px) {
  .page-frame {
    border: 10px solid var(--neutralcolor-neutral10);
    border-radius: 50px;
    max-width: 1440px;
    margin-bottom: 64px;
  }
}

.main-container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 8px;
}

@media only screen and (min-width: 1440px) {
  .main-container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
