.logo-desktop {
  display: none;
}

.header-privacy-terms-wrapper {
  border-left: 4px solid var(--neutralcolor-neutral10);
  border-right: 4px solid var(--neutralcolor-neutral10);
  border-top: 4px solid var(--neutralcolor-neutral10);
  border-radius: 30px 30px 0 0;
  background-color: var(--primary-primary60);
}

.return-home-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--text-dark-text-dark-100);
}

.header-wrapper-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0 19px 0;
}

.privacy-terms-firstcontainer {
  margin-top: 100px;
  padding: 12px 12px 78px 12px;
  border-left: 4px solid var(--neutralcolor-neutral10);
  border-right: 4px solid var(--neutralcolor-neutral10);
}

.privacy-terms-container {
  padding: 0 12px;
  border-left: 4px solid var(--neutralcolor-neutral10);
  border-right: 4px solid var(--neutralcolor-neutral10);
}

.privacy-terms-lastcontainer {
  padding: 0 12px 20px 12px;
  border-bottom: 4px solid var(--neutralcolor-neutral10);
  border-left: 4px solid var(--neutralcolor-neutral10);
  border-right: 4px solid var(--neutralcolor-neutral10);
  border-radius: 0 0 30px 30px;
  margin-bottom: 32px;
  box-shadow: 0 15px 20px -10px var(--text-dark-text-dark-40);
}

.privacy-terms-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.privacy-terms-title {
  max-width: 160px;
  font-size: 38px;
  line-height: 1.21;
  letter-spacing: 0em;
  color: var(--text-text-100);
  text-align: center;
  -webkit-text-stroke: 6px var(--text-dark-text-dark-100);
  text-shadow:
    -2px -2px 0 var(--text-dark-text-dark-100),
    2px 2px 0 var(--text-dark-text-dark-100) #221302;
  paint-order: stroke fill;
}

.privacy-terms-section {
  padding: 12px 0;
}

.privacy-terms-first-subtitle {
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  color: var(--text-text-100);
  -webkit-text-stroke: 6px var(--text-dark-text-dark-100);
  text-shadow:
    -2px -2px 0 var(--text-dark-text-dark-100),
    2px 2px 0 var(--text-dark-text-dark-100) #221302;
  paint-order: stroke fill;
  margin-bottom: 12px;
}

.privacy-terms-second-subtitle {
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-dark-text-dark-100);
  -webkit-text-stroke: 4px var(--text-text-100);
  text-shadow:
    -2px -2px 0 var(--text-text-100),
    2px 2px 0 var(--text-text-100);
  paint-order: stroke fill;
  margin-bottom: 8px;
}

.privacy-terms-text {
  line-height: 1.37;
  letter-spacing: 0.03em;
}

.privacy-terms-lasttext {
  margin-bottom: 12px;
}

@media only screen and (min-width: 1440px) {
  .logo-desktop {
    display: flex;
  }
  .header-privacy-terms-wrapper {
    border-left: 10px solid var(--neutralcolor-neutral10);
    border-right: 10px solid var(--neutralcolor-neutral10);
    border-top: 10px solid var(--neutralcolor-neutral10);
    border-radius: 50px 50px 0 0;

    max-width: 1312px;
    margin: 0 auto;
  }
  .header-wrapper-box {
    justify-content: start;
    padding: 12px 0 8px 20px;
    position: relative;
  }
  .nav-return-home-btn {
    position: absolute;
    left: 40%;
  }
  .privacy-terms-title {
    font-size: 88px;
    line-height: 1.09;
    max-width: 334px;
    -webkit-text-stroke: 10px var(--text-dark-text-dark-100);
  }
  .on-page {
    top: 72%;
  }
  .privacy-terms-firstcontainer {
    padding: 32px 40px 112px 40px;
    border-left: 10px solid var(--neutralcolor-neutral10);
    border-right: 10px solid var(--neutralcolor-neutral10);
  }
  .privacy-terms-container {
    padding: 0 40px;
    border-left: 10px solid var(--neutralcolor-neutral10);
    border-right: 10px solid var(--neutralcolor-neutral10);
  }
  .privacy-terms-lastcontainer {
    padding: 0 40px 18px 40px;
    border-bottom: 10px solid var(--neutralcolor-neutral10);
    border-left: 10px solid var(--neutralcolor-neutral10);
    border-right: 10px solid var(--neutralcolor-neutral10);
    border-radius: 0 0 50px 50px;
  }
  .privacy-terms-section {
    padding: 32px 0;
  }
  .privacy-terms-first-subtitle {
    font-size: 72px;
    line-height: 1.11;
    margin-bottom: 24px;
    -webkit-text-stroke: 10px var(--text-dark-text-dark-100);
  }
  .privacy-terms-second-subtitle {
    font-size: 38px;
    line-height: 1.21;
    letter-spacing: 0em;
    margin-bottom: 12px;
    -webkit-text-stroke: 6px var(--text-text-100);
  }
  .privacy-terms-text {
    font-size: 22px;
    line-height: 1.36364;
    letter-spacing: 0.02em;
    color: var(--text-dark-text-dark-80);
  }
  .privacy-terms-lasttext {
    margin-bottom: 24px;
  }
}
