.terms-container {
  position: relative;
  padding: 32px 12px;
}

@media only screen and (min-width: 1440px) {
  .terms-container {
    padding: 40px 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .terms-title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
}

.terms-title {
  max-width: 240px;
  margin: 76px auto 90px;
}

@media only screen and (min-width: 1440px) {
  .terms-title {
    min-width: 469px;
    margin: 86px auto 193px;
  }
}

.terms-subtitle {
  font-family: var(--font-family);
  font-size: 22px;
  line-height: 136%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-dark-text-dark-100);
  -webkit-text-stroke: 6px var(--text-text-100);
  text-shadow:
    -2px -2px 0 var(--text-text-100),
    2px 2px 0 var(--text-text-100);
  paint-order: stroke fill;
  margin-bottom: 12px;
}

@media only screen and (min-width: 1440px) {
  .terms-subtitle {
    font-size: 38px;
    line-height: 121%;
    letter-spacing: 0em;
    -webkit-text-stroke: 8px var(--text-text-100);
  }
}

.terms-text {
  margin-bottom: 24px;
}

@media only screen and (min-width: 1440px) {
  .terms-text-first {
    margin-bottom: 64px;
  }
}

.terms-icon {
  position: absolute;
  width: 351px;
  height: 86px;
  top: 178px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 1440px) {
  .terms-icon {
    top: 230px;
    width: 776px;
    height: 189px;
  }
}

.terms-title-desk {
  align-items: flex-start;
}
